[submodule "third_party/spdlog"]
	path = third_party/spdlog
	url = https://github.com/gabime/spdlog.git
[submodule "gtest-system/third_party/googletest"]
	path = gtest-system/third_party/googletest
	url = https://github.com/google/googletest.git
[submodule "third_party/vendors_lab/FFmpeg"]
	path = third_party/vendors_lab/FFmpeg
	url = https://github.com/FFmpeg/FFmpeg.git
[submodule "third_party/vendors_lab/gst-rtsp-server"]
	path = third_party/vendors_lab/gst-rtsp-server
	url = https://github.com/GStreamer/gst-rtsp-server.git
[submodule "third_party/vendors_lab/HighPower-Mechaduino"]
	path = third_party/vendors_lab/motor_control/HighPower-Mechaduino
	url = https://github.com/pointhi/HighPower-Mechaduino.git
[submodule "third_party/vendors_lab/Mechaduino-Firmware"]
	path = third_party/vendors_lab/motor_control/Mechaduino-Firmware
	url = https://github.com/jcchurch13/Mechaduino-Firmware.git
[submodule "third_party/vendors_lab/ArduinoTutorials"]
	path = third_party/vendors_lab/motor_control/ArduinoTutorials
	url = https://github.com/curiores/ArduinoTutorials.git
